In [1]:
import pandas as pd

In [2]:
!pwd

/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/notebooks

In [3]:
df = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/predicted_sentiment.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136 entries, 0 to 5135
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.2        5136 non-null   int64
 1   Unnamed: 0.1        5136 non-null   int64
 2   Unnamed: 0          5136 non-null   int64
 3   link                5136 non-null   object
 4   pdate               2525 non-null   object
 5   title               5136 non-null   object
 6   author              5136 non-null   object
 7   text                5136 non-null   object
 8   time                2525 non-null   object
 9   article_length      5136 non-null   int64
 10  urls                5136 non-null   object
 11  pre_process_text    5136 non-null   object
 12  pre_processed_data  5136 non-null   object
 13  5_step_classifier   5136 non-null   float64
 14  lemmatize           5136 non-null   object
 15  keywords            5136 non-null   object
 16  pred_class          5136 non-null   object
dtypes: float64(1), int64(4), object(12)
memory usage: 682.2+ KB

In [5]:
df.keys()

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'link', 'pdate', 'title',
       'author', 'text', 'time', 'article_length', 'urls', 'pre_process_text',
       'pre_processed_data', '5_step_classifier', 'lemmatize', 'keywords',
       'pred_class'],
      dtype='object')

In [6]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,link,pdate,title,author,text,time,article_length,urls,pre_process_text,pre_processed_data,5_step_classifier,lemmatize,keywords,pred_class
0,0,0,0,https://www.theatlantic.com/ideas/archive/2023...,2023-12-01,Ron DeSantis Debates His Grievances,['David Frum'],"For Gavin Newsom, the TV exposure had a clear ...",15:00:00+00:00,1240,www.theatlantic.com,For Gavin Newsom the TV exposure had a clear ...,"for gavin newsom, the tv exposure had a clear ...",-2.0,"for gavin newsom, the tv exposure had a clear ...","{'desantis': 0.58, 'newsom': 0.529, 'fox': 0.1...",left
1,1,1,1,https://www.theatlantic.com/culture/archive/20...,2023-12-01,May December Exposes the Art of Self-Deception,['Shirley Li'],"In Todd Haynes’s new film, May December, an ac...",13:00:00+00:00,1247,www.theatlantic.com,In Todd Haynes’s new film May December an ac...,"in todd haynes’s new film, may december, an ac...",-2.0,"in todd haynes’s new film, may december, an ac...","{'joe': 0.439, 'elizabeth': 0.409, 'film': 0.2...",left
2,2,2,2,https://www.theatlantic.com/culture/archive/20...,2023-12-01,She Made the Pop Album of the Year. But Is She...,['Spencer Kornhaber'],"This year, the 29-year-old Ghanaian American s...",13:00:00+00:00,1314,www.theatlantic.com,This year the year old Ghanaian American sin...,"this year, the 29-year-old ghanaian american s...",-2.0,"this year, the 29-year-old ghanaian american s...","{'album': 0.46, 'music': 0.335, 'baby': 0.221,...",left
3,3,3,3,https://www.theatlantic.com/ideas/archive/2023...,2023-12-01,Inflation Is Your Fault,['Annie Lowrey'],"You would think, with prices as high as they a...",12:41:00+00:00,918,www.theatlantic.com,You would think with prices as high as they a...,"you would think, with prices as high as they a...",-2.0,"you would think, with price a high a they are,...","{'consumer': 0.317, 'price': 0.298, 'spending'...",left
4,4,4,4,https://www.theatlantic.com/ideas/archive/2023...,2023-12-01,What Kissinger Didn’t Understand,['George Packer'],Henry Kissinger spent half a century pursuing ...,12:31:00+00:00,1170,www.theatlantic.com,Henry Kissinger spent half a century pursuing ...,henry kissinger spent half a century pursuing ...,-2.0,henry kissinger spent half a century pursuing ...,"{'wa': 0.283, 'human': 0.17, 'soviet': 0.153, ...",left

In [7]:
df_1 = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/monday_scrape_all.csv")
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7713 entries, 0 to 7712
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  7713 non-null   int64
 1   Unnamed: 0    7713 non-null   int64
 2   link          7713 non-null   object
 3   pdate         3210 non-null   object
 4   title         7713 non-null   object
 5   author        7713 non-null   object
 6   text          7460 non-null   object
 7   keywords      7713 non-null   object
 8   tags          7713 non-null   object
 9   compound      7713 non-null   float64
 10  neg           7713 non-null   float64
 11  neu           7713 non-null   float64
 12  pos           7713 non-null   float64
 13  polarity      7713 non-null   float64
 14  subjectivity  7713 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 904.0+ KB

In [8]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7713 entries, 0 to 7712
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  7713 non-null   int64
 1   Unnamed: 0    7713 non-null   int64
 2   link          7713 non-null   object
 3   pdate         3210 non-null   object
 4   title         7713 non-null   object
 5   author        7713 non-null   object
 6   text          7460 non-null   object
 7   keywords      7713 non-null   object
 8   tags          7713 non-null   object
 9   compound      7713 non-null   float64
 10  neg           7713 non-null   float64
 11  neu           7713 non-null   float64
 12  pos           7713 non-null   float64
 13  polarity      7713 non-null   float64
 14  subjectivity  7713 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 904.0+ KB

In [10]:
df_1.keys()

Index(['Unnamed: 0.1', 'Unnamed: 0', 'link', 'pdate', 'title', 'author',
       'text', 'keywords', 'tags', 'compound', 'neg', 'neu', 'pos', 'polarity',
       'subjectivity'],
      dtype='object')

In [12]:
df_1 = df_1[['link', 'pdate', 'title', 'author',
       'text', 'keywords', 'tags', 'compound', 'neg', 'neu', 'pos', 'polarity',
       'subjectivity']]

In [14]:
df_1

,link,pdate,title,author,text,keywords,tags,compound,neg,neu,pos,polarity,subjectivity
0,https://www.propublica.org/article/inside-waba...,NaN,Tribes in Maine Spent Decades Fighting to Rebu...,"['Mary Hudetz', 'Ash Ngu', 'Mary Hudetz Is A R...",The university’s Peabody Museum exploited loop...,"['museum', 'ancestors', 'tribes', 'harvard', '...",set(),0.9557,0.054,0.885,0.061,0.060006,0.354811
1,https://www.propublica.org/article/west-virgin...,NaN,West Virginians Could Get Stuck Cleaning Up th...,['Ken Ward Jr.'],An excavated mountain and highwalls on the wes...,"['reclamation', 'state', 'cleaning', 'federal'...",set(),-0.9993,0.104,0.824,0.072,0.055620,0.404267
2,https://www.propublica.org/article/texas-judge...,NaN,Texas Judge Orders Release of Uvalde Shooting ...,['Zach Despart'],Texas Judge Orders Release of Uvalde Shooting ...,"['judge', 'organizations', 'state', 'texas', '...",set(),-0.8769,0.080,0.849,0.071,0.096415,0.351263
3,https://www.propublica.org/article/senate-judi...,NaN,Senate Committee Authorizes Subpoenas of Harla...,"['Andy Kroll', 'Andy Kroll Is A Propublica Rep...",Series: Friends of the Court: SCOTUS Justices’...,"['ethics', 'thomas', 'leonard', 'court', 'comm...",set(),0.9981,0.049,0.845,0.106,0.065883,0.328966
4,https://www.propublica.org/article/clarence-th...,NaN,Clarence Thomas Secretly Accepted Luxury Trips...,"['Joshua Kaplan', 'Justin Elliott', 'Alex Mier...",First image: Clarence Thomas in October 2022. ...,"['propublica', 'thomas', 'trips', 'donor', 'co...",set(),0.9999,0.026,0.864,0.110,0.107636,0.403050
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7708,https://www.cbsnews.com/video/saturday-session...,NaN,"Saturday Sessions: Beach Fossils perform ""Slee...",[],"Saturday Sessions: Beach Fossils perform ""Slee...","['veteran', 'tour', 'sleeping', 'rockband', 't...",set(),0.4767,0.000,0.948,0.052,0.290476,0.569048
7709,https://www.cbsnews.com/video/saturday-session...,NaN,"Saturday Sessions: Beach Fossils perform ""Don'...",[],"Saturday Sessions: Beach Fossils perform ""Don'...","['veteran', 'away', 'tour', 'toured', 'session...",set(),0.4767,0.000,0.946,0.054,0.238889,0.497222
7710,https://www.cbsnews.com/video/author-sam-wasso...,NaN,Author Sam Wasson explores the life and vision...,[],Author Sam Wasson explores the life and vision...,"['francis', 'vision', 'author', 'ford', 'wasso...",set(),0.7096,0.045,0.855,0.100,0.055682,0.327273
7711,https://www.cbsnews.com/video/never-too-late-c...,NaN,Never Too Late: CBS News' Anthony Mason writes...,[],Never Too Late: CBS News' Anthony Mason writes...,"['late', 'cbs', 'anthony', 'try', 'winners', '...",set(),0.7003,0.000,0.900,0.100,0.056250,0.633333
7712,https://www.nytimes.com/2023/12/04/climate/cop...,2023-12-04 00:00:00,"Fighting Crises With Cash, Except for the Clim...","['Lisa Friedman', 'Somini Sengupta', 'More Abo...","When there’s a global crisis, wealthy countrie...","['summit', 'president', 'climate', 'crises', '...",set(),0.9598,0.072,0.765,0.162,0.059924,0.360779

In [15]:
df_fri = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/BK_fri_scrape.csv")

In [16]:
df_fri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1865 non-null   int64
 1   link          1865 non-null   object
 2   pdate         1141 non-null   object
 3   title         1865 non-null   object
 4   author        1865 non-null   object
 5   text          1796 non-null   object
 6   keywords      1865 non-null   object
 7   tags          1865 non-null   object
 8   compound      1865 non-null   float64
 9   neg           1865 non-null   float64
 10  neu           1865 non-null   float64
 11  pos           1865 non-null   float64
 12  polarity      1865 non-null   float64
 13  subjectivity  1865 non-null   float64
 14  rating        882 non-null    object
dtypes: float64(6), int64(1), object(8)
memory usage: 218.7+ KB

In [17]:
df_fri["author"]

837

In [18]:
from urllib.parse import urlparse

In [20]:
urls_right = [urlparse(df_fri.link[row]).netloc for row in range(len(df_fri.link))]
df_fri['urls'] = urls_right

In [22]:
df['urls']

0         www.theatlantic.com
1         www.theatlantic.com
2         www.theatlantic.com
3         www.theatlantic.com
4         www.theatlantic.com
                ...
5131    www.theepochtimes.com
5132    www.theepochtimes.com
5133    www.theepochtimes.com
5134    www.theepochtimes.com
5135    www.theepochtimes.com
Name: urls, Length: 5136, dtype: object

In [23]:
df_fri.to_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/friday_scrape_all.csv")

In [24]:
df_6_1 = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sat_bk_scrape.csv")

In [25]:
df_6_2 = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sat_zt_scrape.csv")

In [26]:
df_6_all = pd.concat([df_6_1,df_6_2],axis=0)

In [27]:
df_6_all.to_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/saturday_scrape_all.csv")

In [28]:
df_7_1 = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sunday_bk_scrape.csv")

In [29]:
df_7_2 = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sunday_gg_scrape.csv")

In [30]:
df_7_3 = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sunday_zt_scrape.csv")

In [31]:
df_7_all = pd.concat([df_7_1, df_7_2, df_7_3],axis=0)

In [32]:
df_7_all.to_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sunday_scrape_all.csv")

In [33]:
df_f_all = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/friday_scrape_all.csv")

In [34]:
df_sat_all = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/saturday_scrape_all.csv")

In [35]:
df_sun_all = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/sunday_scrape_all.csv")

In [36]:
df_mon_all = pd.read_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/monday_scrape_all.csv")

In [37]:
df_all_to_mon = pd.concat([df_f_all,df_sat_all,df_sun_all,df_mon_all], axis=0)

In [38]:
df_all_to_mon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20306 entries, 0 to 7712
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  20306 non-null  int64
 1   Unnamed: 0    20306 non-null  int64
 2   link          20306 non-null  object
 3   pdate         10193 non-null  object
 4   title         20306 non-null  object
 5   author        20306 non-null  object
 6   text          19773 non-null  object
 7   keywords      20306 non-null  object
 8   tags          20306 non-null  object
 9   compound      20306 non-null  float64
 10  neg           20306 non-null  float64
 11  neu           20306 non-null  float64
 12  pos           20306 non-null  float64
 13  polarity      20306 non-null  float64
 14  subjectivity  20306 non-null  float64
 15  rating        882 non-null    object
 16  urls          1865 non-null   object
dtypes: float64(6), int64(2), object(9)
memory usage: 2.8+ MB

In [39]:
df_all_to_mon.to_csv("/Users/barnabykempster/code/zulu-tango/news_and_echo_bubbles/raw_data/all_to_04_Dec.csv")